<h1>CONTACT</h1>
<%= form_with(model: @contact, local: true) do |form|%>
  <% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="contact_name">
    <%= form.label :name %>
  </div>
  <div class="form_name">
    <%= form.text_field :name %>
  </div>
  <div class="contact_email">
    <%= form.label :email %>
  </div>
  <div class="form_email">
    <%= form.text_field :email %>
  </div>
  <div class="contact_content">
    <%= form.label :content %>
  </div>
  <div class="form_content">
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>